body {
  background: url(two.jpg);
  background-position: top;
  background-size: 120%;
}

.img-responsive {
  position: relative;
  margin-left: auto;
  margin-right:auto;
  width: 1100px;
  height: 250px;
}

h1 {
  position: absolute;
  top: 183px;
  left: 185px;
  width: 100%;
  color: #B1D6E3;
  font-family: cursive;
}