body {
  background: url(two.jpg);
  background-position: top;
  background-size: 120%;
}

#allcol {
  text-align: center;
}

#col1 {
  color: white;
}

.wind {
  display: block;
  margin: -10 auto;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#col2 {
  color: black;
  font-size: 40px;
  font-family: sans-serif;
}

#col3 {
  color: white;
}